@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Oswald:wght@200..700&display=swap');
body {
    color: white;
    background-color: black;
}
button {
    border: none;
    background-color: #424242;
    color: white;
}

.center {
    text-align: center;
}
.button_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-marquee {
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color: #5a605c;
}
.round {
    border-radius: 25px;
}
.link_entry {
    height: 70px;
    border-radius: 25px;
    width: 400px;
    font-size: 21px;
}
input {
    color: white;
    background-color: #424242;
    border: none;
}
.big_button {
    height: 50px;
    width: 100px;
    font-size: 20px;
}
.alert {
    font-size: 15px;
    height: 30px;
    width: calc(500px / 2 - 50);
    border-radius: 20px;
}